<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Client Information</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <div class="container">
        <h1>Clem has captured your IP Address - {{ client_ip }}</h1>        
        <div class="image-container">
            <img src="/static/clem.jpg" alt="Mr.Clem">
        </div>
        <div class="info-box">
            <h3>More Information</h3>
            <p><strong>IP Address:</strong> {{ client_ip }}</p>
            <p><strong>Port:</strong> {{ client_port }}</p>
	    <p><strong>Browser:</strong> {{ user_agent }}</p>
	    <p><strong>X-Forwarded-For:</strong> {{ x_forwarded_for_full }}</p>
	    <!--
	    <p><strong>Server Name:</strong> {{ server_name }}</p>
	    <p><strong>Server IP:</strong> {{ server_ip }} </p>
	    -->
	</div>
</body>
</html>
